<div class="contents row" >
    <p>イベント詳細情報</p>
    <%# binding.pry %>
    <p><%= @event.name %></p>
    <p><%= @event.text %></p>
    <div class="content_post" style="background-image: url(<%= @event.image%>); height: 100px;">
    aaa
    </div>
</div>